@font-face {
  font-family: 'Bravura';
  src: url('https://cdn.jsdelivr.net/npm/vexflow-fonts@1.0.6/bravura/Bravura_1.392.otf') format('opentype');
}

/* Adapted from https://getbootstrap.com/docs/5.3/customize/components/#creating-your-own */
.callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: var(--bd-callout-color, inherit);
  background-color: var(--bd-callout-bg, var(--bs-gray-100));
  border-left: 0.25rem solid var(--bd-callout-border, var(--bs-gray-300));
}

.btn-ghost {
  opacity: 0.5;
}

.btn-ghost:hover {
  opacity: 1;
}
